.projects-carousel-section {
  padding: 60px 20px;
  /* background-color: #f5f5f5; */
  text-align: center;
}

.project-slider {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.project-card {
  padding: 10px;
  outline: none;
}

.project-card-content {
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card-content:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

.project-title {
  font-size: 28px;
  color: #2d2e32;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  color: #444;
  margin-bottom: 15px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
  padding: 0;
  list-style: none;
}

.tech-item {
  background: #bf7dd1;
  color: white;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.project-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #c3bce7;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.project-btn:hover {
  background-color: #8d599c;
}

.slick-prev:before,
.slick-next:before {
  color: #c3bce7;
  font-size: 30px;
}

.slick-dots li button:before {
  color: #a3c4f3;
}

.slick-slide {
  display: flex;
  justify-content: center;
}
