@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


/* Skills Section */
.skills-container {
  /* background-color: #fdf6ff; */
  margin-top: 80px;
  text-align: center;
  color: #2d2e32;
  padding: 60px 50px;
}

/* Title */
.skills-title {
  font-size: 2.8rem;
  color: #2d2e32;
  margin-bottom: 40px;
  font-weight: bold;
}

/* Skill Card */
.skill-card {
  padding: 10px;
  max-width: 300px; /* Limit width */
  margin: auto;     /* Center each card */
}

.skill-card-content {
  background: #c3bce7;
  border-radius: 20px;
  box-shadow: 0px 8px 25px rgba(163, 196, 243, 0.3);
  padding: 16px;  /* Slightly reduced */
}

/* Name */
.skill-name {
  color: #2d2e32;
  font-size: 1.3rem;
  margin-bottom: 12px;
}

/* Circle Progress */
.skill-circle {
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #ffffff;
}

.skill-description {
  font-size: 14px;
  margin-top: 10px;
  color: #2d2e32;
}

/* Carousel Buttons */
.slick-prev:before,
.slick-next:before {
  color: #c3bce7;
  font-size: 30px;
}

.slick-dots li button:before {
  color: #a3c4f3;
}
